.filterForm {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    font-size: 10px;
}

.filterForm form{
    display: flex;
    column-gap: 5px;
}

.filterInput {
    width: 400px;
}

.completed-task-class {
    color: green;
}

.pending-task-class {
    color: red;
}

.odd-row{
    background-color: lightgray;
}