<div class="filterForm">
    <form [formGroup]="filterForm">
        <mat-form-field appearance="outline" class="filterInput">
            <mat-label>Search</mat-label>
            <input matInput formControlName="filter" placeholder="Search by title or description">
            @if(filterControl?.value){
            <mat-icon matSuffix (click)="clearSearch($event)">clear</mat-icon>
            }
        </mat-form-field>
        <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Assigned User</mat-label>
            <mat-select matInput name="assignedUser" formControlName="assignedUserId" id="assignedUser">
              @for (user of usersKeyValue; track user) {
              <mat-option [value]="user.key">{{user.value}}</mat-option>
              }
            </mat-select>
            @if(assignedUserControl?.value){
              <mat-icon matSuffix (click)="clearUser($event)">clear</mat-icon>   
            }
          </mat-form-field>
    </form>
    <div class="search-button">
        <button mat-raised-button color="primary" (click)="search()">
            <mat-icon>search</mat-icon>Search
        </button>
    </div>
    <span class="fill-space"></span>
    <div class="search-button">
        <button mat-raised-button color="primary" (click)="addTask()">
            <mat-icon>add</mat-icon>Add
        </button>
    </div>
</div>
<div class="header-container">
    <span class="records-counter">Tasks: {{ paginatorLength }}</span>
    <mat-paginator [length]="paginatorLength" [pageSizeOptions]="itemsPerPage" showFirstLastButtons
        (page)="handlePageEvent($event)">
    </mat-paginator>
</div>
<div class="table-container">
    <table mat-table [dataSource]="tasksList()" class="table" matSort [matSortActive]="sortActive"
        [matSortDirection]="sortDirection" (matSortChange)="sortChange($event)">
        @for(col of columns; track $index){
        <ng-container [matColumnDef]="col.field">
            <th mat-header-cell *matHeaderCellDef mat-sort-header [style.width.px]="col.maxWidth"
                [style.textAlign]="col.align" [disabled]="col.sortDisabled"> {{ col.title }} </th>
            <td mat-cell *matCellDef="let element">
                <div class="td-container" [style.width.px]="col.maxWidth" [style.justifyContent]="col.align">
                    <div [style.textAlign]="col.align" [style.maxWidth.px]="col.maxWidth">
                        @switch(col.type){
                        @case("boolText"){
                        <div [ngClass]="{
                            'completed-task-class': (element | field:col.field | booleanToYesNo) === 'Yes',
                            'pending-task-class': (element | field:col.field | booleanToYesNo) === 'No'
                          }">
                            {{ element | field:col.field | booleanToYesNo | uppercase }}
                        </div>
                        }
                        @case("options"){
                        <button mat-icon-button [matMenuTriggerFor]="optionsmenu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #optionsmenu="matMenu">
                            <div class="menu-container">
                                <button mat-menu-item (click)="completeTask(element.id)" [disabled]="element.isCompleted">
                                    <mat-icon>done</mat-icon>
                                    <span>Complete</span>
                                </button>
                            </div>
                        </mat-menu>
                        }
                        @default{ {{ element | field:col.field }} } }
                    </div>
                </div>
            </td>
        </ng-container>
        }
        <tr mat-header-row *matHeaderRowDef="columnNames; sticky: true"></tr>
        <tr mat-row *matRowDef="let row, let i = index; columns: columnNames;" class="rows" [ngClass]="{'odd-row': i % 2 !== 0}"></tr>
    </table>
</div>